@import "../../../Generics.scss";

#box_total {
  @extend .d_flex_col;
  background-color: $cor_bg_menu;
  color: white;
  height: 60px;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  
  #total {
    @extend .d_flex_row;
    font-size: 22px;
    font-weight: 500;
    justify-content: space-between;
  }
}
