@import "../../../Generics.scss";

#box_total {
  background-color: $cor_bg_menu;
  color: white;
  padding: $margin_20px;

  #total {
    @extend .d_flex_row;
    font-size: 22px;
    font-weight: 500;
    justify-content: space-between;
  }
}
