@import "../../Generics.scss";

.title {
  //color: $cor_bg_menu;
  color: #494949;
  font-size: 14px;
  margin-bottom: 4px;
}

.field {
  @extend .transition1s;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  color: #686868;
  font-size: 12px;
  padding: 4px 4px;

  &:hover {
    border: 1px solid $cor_bg_menu;
  }

  &:focus {
    outline: none;
  }
}