@import "../../Generics.scss";

$border: 1px solid rgb(221, 221, 221);
$height_header: 25px;
$height_footer: 47px;
$padding: 10px;

.modal {
  @extend .d_flex_col, .trbl_0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  position: fixed;

  .modal_content {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .modal_header {
      border-bottom: $border;
      padding: 8px 10px;

      .modal_title {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .modal_body {
      padding: $padding;
      overflow-y: scroll;
      height: calc(100% - $height_footer - $height_header - 13px);
      border-bottom: $border;
    }

    .modal_footer {
      @extend .d_flex_row;
      justify-content: space-between;
      padding: 8px;

      .fs_subtitle {
        @extend .d_flex_row, .transition1s;
        align-items: center;
        color: gray;
        font-size: 12px;
        font-style: italic;
        margin-left: 10px;

        &:hover {
          color: $cor_bg_menu;
        }
      }
    }
  }
}