.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;

  thead {
    th,
    td {
      background-color: #ffffff;
      color: #1a1a1a;
      padding: 12px 15px;
      text-align: left;
      font-weight: bold;
    }
  }

  tbody {
    border-top: 1px solid rgb(223, 223, 223);

    th,
    td {
      padding: 12px 15px;
    }

    tr:nth-child(even) {
      background-color: #d6eeee;
    }

    tr:last-of-type {
      border-bottom: 2px solid #009879;
    }
  }
}
