@import '../../variaveis.scss';

#conteudo {
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(207, 207, 207);
    border-radius: $border_radius;
    box-shadow: 0 0 6px rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    height: 190px;
    margin: $margin;
    width: 160px;

    #conteudo_imagem {
        height: 70%;
    }

    #conteudo_infos {
        background-color: rgb(255, 255, 255);
        align-items: center;
        border-radius: 0 0 $border_radius $border_radius;
        color: $cor_titulos;
        display: flex;
        font-size: 14px;
        font-weight: 400;
        height: 30%;
        padding: 10px;
    }
}