@import "Generics.scss";

$color_border: #b8b8b8;
$font_size_titulo: 12px;

.home_body {
  @extend .d_flex_col, .w_100_h_100;
  position: fixed;
  padding: 1rem;
  background-color: $cor_bg_global;

  .box_content {
    @extend .d_flex_row;
    width: 100%;
    height: calc(100% - 85px);

    .box_ambos {
      @extend .d_flex_col;
      height: 100%;
      width: calc(50% - 5px);
    }

    .box_esquerdo {
      @extend .box_ambos;
      margin-right: 10px;
    }

    .box_direito {
      @extend .box_ambos;
      margin-left: 10px;
    }
  }

  #box_cabecalho {
    @extend .d_flex_row;
    border-bottom: 1px solid $color_border;
    color: $font_color_titulo;
    font-size: $font_size_titulo;
    height: 65px;
    justify-content: space-between;
    margin-bottom: $margin_20px;

    #cabecalho_titulo {
      @extend .d_flex_row;
      align-items: center;
      margin-left: 15px;
    }

    #cabecalho_menu {
      @extend .d_flex_row;
      justify-content: flex-end;
      margin-right: 15px;

      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        top: 0;
      }

      li {
        display: inline;
        list-style: none;
        margin: 10px;
      }

      li a {
        color: $font_color_titulo;
        margin: 0;
        padding: 5px 10px;
        text-decoration: none;
      }

      li a:hover {
        color: rgb(9, 87, 139);
      }
    }
  }
}
