@import "variaveis.scss";

$color_header: #888888;
$color_border: #b8b8b8;
$font_size_titulo: 12px;
$height_box_cabecalho: 35px;

#box_corpo {
  @extend .flex_column, .width_height_100_por_cento;
  background-color: #eeeeee;
  position: fixed;
  padding: $margin;
}

#box_cabecalho {
  @extend .flex_row;
  border-bottom: 1px solid $color_border;
  color: $color_header;
  font-size: $font_size_titulo;
  height: 70px;
  justify-content: space-between;
  margin-bottom: $margin;

  #cabecalho_titulo {
    @extend .flex_row;
    align-items: center;
    margin-left: 15px;
  }

  #cabecalho_menu {
    @extend .flex_row;
    justify-content: flex-end;
    margin-right: 15px;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      top: 0;
    }

    li {
      display: inline;
      list-style: none;
      margin: 10px;
    }

    li a {
      color: $color_header;
      margin: 0;
      padding: 5px 10px;
      text-decoration: none;
    }

    li a:hover {
      color: rgb(9, 87, 139);
    }
  }
}

#box_conteudo {
  @extend .flex_row;
  height: calc(100% - $height_box_cabecalho); // height do box_cabecalho.

  #conteudo_esquerdo {
    @extend .flex_column, .border_radius_bottom_left_right;
    margin-right: $margin;
    width: 50%;
    height: 100%;

    #box_item_atual {
      @extend .flex_row, .width_height_100_por_cento, .border_radius_bottom_left_right;
      box-shadow: 0 0 6px rgb(182, 182, 182);
      background-color: white;
      height: 100%;
      overflow-y: scroll;
      padding: $margin;

      .item_atual {
        @extend .flex_item_center;
        flex-wrap: wrap;
        width: 50%;
      }
    }
  }

  #conteudo_direito {
    @extend .flex_column, .border_radius_bottom_left_right;
    box-shadow: 0 0 6px rgb(182, 182, 182);
    background-color: white;
    width: 50%;

    #box_grid_item {
      border: 1px solid rgb(202, 202, 202);
      color: white;
      flex-grow: 1;
      overflow-y: scroll;
      padding: $margin;

      #table_item {
        color: rgb(27, 27, 27);
        width: 100%;

        thead {
          text-align: center;
          font-weight: 500;
        }

        tbody {
          #td_preco {
            @extend .flex_row;
            justify-content: flex-end;
          }

          tr:nth-child(even) {
            background-color: rgb(224, 224, 224);
          }
        }
      }
    }
  }
}
