$border_radius: 10px;

$cor_titulos: #868686;
$cor_bg_menu: rgb(99, 157, 223);

$font_size_titulo: 14px;

$margin: 10px;

// propriedades gerais
.barra_titulo {
  padding: 10px;
  background-color: $cor_bg_menu;
  color: white;
  font-size: $font_size_titulo;
  width: 100%;
}

.width_height_100_por_cento {
  height: 100%;
  width: 100%;
}

.width_50_por_cento {
  width: 50%;
}

// propriedades radius
.border_radius_bottom_left_right {
  border-end-end-radius: $border_radius;
  border-bottom-left-radius: $border_radius;
}

.border_radius_top_left_right {
  border-top-left-radius: $border_radius;
  border-top-right-radius: $border_radius;
}

// propriedades flex:
.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_item_center {
  @extend .flex_row;
  align-items: center;
  justify-content: center;
}
